<%
  name = @user_profile.parsed_response['name']
  username = @user_profile.parsed_response['login']


%>


<h1>GitHub</h1>
<div><%=image_tag(@user_profile.parsed_response['avatar_url']) %></div>
<h1><%=name%></h1>
<h3><%=username%></h3>
<% @repos.each do |repo| %>
  <p><%= repo['name']%></p>
<%end%>
<div><%= @user_profile %></div>

